<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="index3.html" class="brand-link">
    <img src="/adminlte/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-light">Mengcoding</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
          <a href="/" class="nav-link">
            <i class="nav-icon fas fa-home"></i>
            <p>
              Home
            </p>
          </a>
        </li>      
        <li class="nav-header">Master</li>
        <!-- <li class="nav-item">
          <a href="/category" class="nav-link">
            <i class="nav-icon far fa-calendar-alt"></i>
            <p>
              Category
            </p>
          </a>
        </li> -->
        <li class="nav-item">
          <a href="/post" class="nav-link">
            <i class="nav-icon fas fa-newspaper"></i>
            <p>
              Posts
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/category" class="nav-link">
            <i class="nav-icon fas fa-calendar-alt"></i>
            <p>
              Categories
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/tag" class="nav-link">
            <i class="nav-icon fas fa-tag"></i>
            <p>
              Tags
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/series" class="nav-link">
            <i class="nav-icon fas fa-list"></i>
            <p>
              Series
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/voucher" class="nav-link">
            <i class="nav-icon far fa-comments"></i>
            <p>
              Comments
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/voucher" class="nav-link">
            <i class="nav-icon ion ion-stats-bars"></i>
            <p>
              Statistics
            </p>
          </a>
        </li>

        <li class="nav-header">Settings</li>
        <li class="nav-item">
          <a href="/user" class="nav-link">
            <i class="nav-icon far fa-user"></i>
            <p>
              Users
            </p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>